{% extends 'main/base2.html' %}
{% block title %} CONTACT {% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="topnav" id="myTopnav">
        <a href='/'><img id='logo' src = "/media/images/logo.png", height=38, width=41></a>
        <a href='/' id='home'><div id ='linke1'><i id='home_icon' class="fa fa-home"></i> Home</div></a>
        <a href='/' id='home'><div id ='linkh1' hidden><i id='home_icon' class="fa fa-home"></i> होमपेज</div></a>
        <a href='/contact' id='contact_home' class="active"><div id ='linke2'><i id='phone_icon' class="fa fa-phone"></i> Contact </div></a>
        <a href='/contact' id='contact_home' class="active"><div id ='linkh2' hidden><i id='phone_icon' class="fa fa-phone"></i> संपर्क करें</div></a>
        <a id='select_lang'><select class="lang" name="language" onchange="call()" id='language'>
            <option value='english'>English</option>
            <option value='hindi'>Hindi</option>
        </select></a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i id='bars' class="fa fa-bars"></i></a>
    </div>

    <div id='div_english'>
        <div class='header_student'>
            <div class='row'>
                <div class='logo'>
                    <a href='/'><img id='logo_id' src = "/media/images/logo.png", height=220, width=225></a>
                </div>
                <div class='title'>
                    <h1 id='row1_contact'>Agricultral and Rural Departement</h1>
                    <h1 id='row2_contact'>(Govt. of Bihar)</h1> 
                </div>
            </div>
        </div>

        <div id='info'>
            <div id='dbt'>
                <hr>
                <h1 align='center'> DBT Cell Contact Details </h1>
            </div>
            <div id='mobile'>
                <hr>
                <h1 align='center'>Contact time on mobile from 11 am to 5 pm (except Saturday and Sunday(Holiday)) </h1>
                <hr>
            </div>
            <div id='landline'>
                <h1 align='center'>Landline Number: 0612-2233555 from 10 am to 6 pm (except Saturday and Sunday(Holiday))</h1>
                <hr>
            </div>
        </div>

        <div class='main_contact animated bounceInLeft' >
            <div class="rowt">
                <div class="field">
                    <table id='table'>
                        <tr id='tr'>
                            <th id='th' style="width:5%;">Sr. No</th>
                            <th id='th' style="width:15%;">Name</th>
                            <th id='th' style="width:22%;">Designation</th>
                            <th id='th' style="width:14%;">Mobile Number<br>(11AM - 5PM Only)</th>
                            <th id='th' style="width:14%;">Email ID</th>
                            <th id='th' style="width:25%;">Address</th>
                        </tr>
                        {% for d in data %}
                        <tr>
                            <td id='td' style="text-align:center;"> {{ d.serial_no }} </td>
                            <td id='td'> {{ d.name }} </td>
                            <td id='td' style="text-align:center;"> {{ d.designation }} </td>
                            <td id='td' style="text-align:center;"> {{ d.mobile }} </td>
                            <td id='td' style="text-align:center;"> <a href= "mailto:{{ d.email }}">{{ d.email }}</a></td>
                            <td id='td' style="text-align:center;"> {{ d.address }} </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div id='info'>
            <div id='report'>
                <hr>
                <h1 align='center'> Report your problems only on landline </h1>
                <hr>
            </div>
        </div>
    </div>


    <div id='div_hindi'>
        <div class='header_student'>
            <div class='row'>
                <div class='logo'>
                    <a href='/'><img id='logo_id' src = "/media/images/logo.png", height=220, width=225></a>
                </div>
                <div class='title'>
                    <h1 id='row1_contact'>कृषि और ग्रामीण विभाग</h1>
                    <h1 id='row2_contact'>(बिहार सरकार)</h1> 
                </div>
            </div>
        </div>

        <div id='info'>
            <div id='dbt'>
                <hr>
                <h1 align='center'> DBT Cell संपर्क विवरण </h1>
            </div>
            <div id='mobile'>
                <hr>
                <h1 align='center'>मोबाइल पर संपर्क करने का समय सुबह 11 बजे से शाम 5 बजे तक (शनिवार रविवार और छुट्टी को छोड़कर) </h1>
                <hr>
            </div>
            <div id='landline'>
                <h1 align='center'>लैंडलाइन नंबर: 0612-2233555 पर संपर्क करने का समय 10 बजे से शाम 6 बजे तक (शनिवार रविवार और छुट्टी को छोड़कर) </h1>
                <hr>
            </div>
        </div>

        <div class='main_contact animated bounceInLeft' >
            <div class="rowt">
                <div class="field">
                    <table id='table'>
                        <tr id='tr'>
                            <th id='th' style="width:5%;">क्रमांक</th>
                            <th id='th' style="width:15%;">नाम</th>
                            <th id='th' style="width:22%;">पद</th>
                            <th id='th' style="width:14%;">मोबाइल नंबर<br>(केवल 11AM - 5PM)</th>
                            <th id='th' style="width:14%;">ईमेल</th>
                            <th id='th' style="width:25%;">पता</th>
                        </tr>
                        {% for d in data %}
                        <tr>
                            <td id='td' style="text-align:center;"> {{ d.serial_no }} </td>
                            <td id='td'> {{ d.name }} </td>
                            <td id='td' style="text-align:center;"> {{ d.designation }} </td>
                            <td id='td' style="text-align:center;"> {{ d.mobile }} </td>
                            <td id='td' style="text-align:center;"> <a href= "mailto:{{ d.email }}">{{ d.email }}</a></td>
                            <td id='td' style="text-align:center;"> {{ d.address }} </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div id='info'>
            <div id='report'>
                <hr>
                <h1 align='center'> अपनी समस्याएं केवल लैंडलाइन पर ही लिखवाए</h1>
                <hr>
            </div>
        </div>
    </div>

    <script>
            window.onload = language()
        window.onload = call()

        function call(){
            var s1 = document.getElementById('language');
            if (s1.value == 'english'){
                document.getElementById("div_english").style.display = "block";
                document.getElementById("linke1").style.display = "block";
                document.getElementById("linke2").style.display = "block";
                document.getElementById("div_hindi").style.display = "none";
                document.getElementById("linkh1").style.display = "none";
                document.getElementById("linkh2").style.display = "none";
                localStorage.setItem("lang", "english");
            }
            else if(s1.value == 'hindi'){
                document.getElementById("div_english").style.display = "none";
                document.getElementById("linke1").style.display = "none";
                document.getElementById("linke2").style.display = "none";
                document.getElementById("div_hindi").style.display = "block";
                document.getElementById("linkh1").style.display = "block";
                document.getElementById("linkh2").style.display = "block";
                localStorage.setItem("lang", "hindi");
            }
        }

        function language(){  
            var lang = localStorage.getItem("lang");
            document.getElementById("language").value = lang;
        }

        function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
            }
        }
    </script>
<!-- !Disclaimer - you must not use this website's template in as it is form - please feel free 
to contact me @ chiragchauhan12323@gmail.com for the source code and implementation in your use case -
After all I too did take some help from the community -->
{% endblock %}