{% extends 'main/base.html' %}
{% block title %} LOGIN {% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="topnav" id="myTopnav">
        <a href='/'><img id='logo' src = "/media/images/logo.png", height=38, width=41></a>
        <a href='/' id='home'><div id ='linke1'><i id='home_icon' class="fa fa-home"></i> Home</div></a>
        <a href='/' id='home'><div id ='linkh1' hidden><i id='home_icon' class="fa fa-home"></i> होमपेज</div></a>
        <a href='/signup' id='signup_home'><div id ='linke2'><i id='signup_icon' class="fa fa-user-plus"></i> Signup</div></a>
        <a href='/signup' id='signup_home'><div id ='linkh2' hidden><i id='signup_icon' class="fa fa-user-plus"></i> पंजीकरण</div></a>
        <a href='/admin' id='login_home'><div id ='linke4'><i id='login_icon' class="fa fa-user-circle"></i> Admin</div></a>
        <a href='/admin' id='login_home'><div id ='linkh4' hidden><i id='login_icon' class="fa fa-user-circle"></i> प्रशासन</div></a>
        <a href='/contact' id='contact_home'><div id ='linke5'><i id='phone_icon' class="fa fa-phone"></i> Contact </div></a>
        <a href='/contact' id='contact_home'><div id ='linkh5' hidden><i id='phone_icon' class="fa fa-phone"></i> संपर्क करें</div></a>
        <a id='select_lang'><select class="lang" name="language" onchange="call()" id='language'>
            <option value='english'>English</option>
            <option value='hindi'>Hindi</option>
        </select></a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i id='bars' class="fa fa-bars"></i></a>
    </div>

    <div id='div_english'>
        <div class='header_student'>
            <div class='row'>
                <div class='logo'>
                    <a href='/'><img id='logo_id' src = "/media/images/logo.png", height=270, width=275></a>
                </div>
                <div class='title'>
                    <h1 id='row1'>Agricultral and Rural Departement</h1>
                    <h1 id='row2'>(Govt. of Bihar)</h1> 
                </div>
            </div>
        </div>

        <div class='column'>
            <form method = 'POST' class='form-group'>
                {% csrf_token %}
                {{form|crispy}}
                    <div class="main_signin animated bounceInLeft">
                        <h1 id='log'><b>Log In</b></h1>

                        <div class="row">
                            <div class="col2">
                                <select id="role" name="role" class='select_login' required>
                                    <option value=''>--Role--</option>
                                    <option value='Farmer'>Farmer</option>
                                    <option value='Scientist'>Farm Science Expert</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col2">
                                <input type='email' name='email' placeholder='Email*' required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col2">
                                <input type='password' name='password' placeholder='Password*' required>
                            </div>
                        </div>

                        <div class="rowt">
                            <div class="col2">
                                <h5 id='forgotpass'> <a href="/password_reset">Forgot Password?</a>
                            </div>
                        </div>

                        {% if messages %}
                            {% for message in messages %}
                                <div>
                                    <h3 id='message'>{{ message }}</h3>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <div class='rowt'>
                            <input type='submit' name='save' value='Login' id='login_btn'>
                        </div>

                        <div class='rowt'>
                            <h3 id='a'>Don't have an account? <a href="/signup">Create here</a>
                        </div>
                    </div>
                        
                <p align="center" id='about_data'><b> COPYRIGHT &copy; by Bihar Govt </b></p>
            </form>
        </div>
    </div>


    <div id='div_hindi' hidden>
        <div class='header_student'>
            <div class='row'>
                <div class='logo'>
                    <a href='/'><img id='logo_id' src = "/media/images/logo.png", height=270, width=275></a>
                </div>
                <div class='title'>
                    <h1 id='row1'>कृषि और ग्रामीण विभाग</h1>
                    <h1 id='row2'>(बिहार सरकार)</h1>
                </div>
            </div>
        </div>

        <div class='column'>
            <form method = 'POST' class='form-group'>
                {% csrf_token %}
                {{form|crispy}}
                    <div class="main_signin animated bounceInLeft">
                        <h1 id='log'><b>आवदेन</b></h1>

                        <div class="row">
                            <div class="col2">
                                <select id="role" name="role" class='select_login' required>
                                    <option value=''>--भूमिका--</option>
                                    <option value='Farmer'> किसान </option>
                                    <option value='Scientist'>कृषि विज्ञान विशेषज्ञ </option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col2">
                                <input type='email' name='email' placeholder='ईमेल*' required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col2">
                                <input type='password' name='password' placeholder='पासवर्ड*' required>
                            </div>
                        </div>

                        <div class="rowt">
                            <div class="col2">
                                <h5 id='forgotpass'> <a href="/password_reset">पासवर्ड भूलगये?</a>
                            </div>
                        </div>

                        {% if messages %}
                            {% for message in messages %}
                                <div>
                                    <h3 id='message'>{{ message }}</h3>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <div class='rowt'>
                            <input type='submit' name='save' value='आवदेन करें' id='login_btn'>
                        </div>

                        <div class='rowt'>
                            <h3 id='a'>ख़ाता बनाने के लिए यहा <a href="/signup">क्लिक करे </a>
                        </div>
                    </div>
                        
                <p align="center" id='about_data'><b> कॉपीराइट &copy; बाइ बिहार सरकार </b></p>
            </form>
        </div>
    </div>

    <script>

        window.onload = language()
        window.onload = call()

        function call(){
            var s1 = document.getElementById('language');
            if (s1.value == 'english'){
                document.getElementById("div_english").style.display = "block";
                document.getElementById("linke1").style.display = "block";
                document.getElementById("linke2").style.display = "block";
                document.getElementById("linke4").style.display = "block";
                document.getElementById("linke5").style.display = "block";
                document.getElementById("div_hindi").style.display = "none";
                document.getElementById("linkh4").style.display = "none";
                document.getElementById("linkh5").style.display = "none";
                localStorage.setItem("lang", "english");
            }
            else if(s1.value == 'hindi'){
                document.getElementById("div_english").style.display = "none";
                document.getElementById("linke1").style.display = "none";
                document.getElementById("linke2").style.display = "none";
                document.getElementById("linke4").style.display = "none";
                document.getElementById("linke5").style.display = "none";
                document.getElementById("div_hindi").style.display = "block";
                document.getElementById("linkh1").style.display = "block";
                document.getElementById("linkh2").style.display = "block";
                document.getElementById("linkh4").style.display = "block";
                document.getElementById("linkh5").style.display = "block";
                localStorage.setItem("lang", "hindi");
            }
        }

        function language(){  
            var lang = localStorage.getItem("lang");
            document.getElementById("language").value = lang;
        }

        function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
            }
        }
    </script>
<!-- !Disclaimer - you must not use this website's template in as it is form - please feel free 
to contact me @ chiragchauhan12323@gmail.com for the source code and implementation in your use case -
After all I too did take some help from the community -->
{% endblock %}